.clip-check input[type="checkbox"] {
  width: 20px !important;
  height: 20px;
  margin: 0px;
  z-index: 99;
}
.clip-check label:after {
  font-size: 10px;
  height: 15px;
  left: 0px;
  top: 0px;
  width: 15px;
}
.clip-check label:before {
  background-color: #fff;
  border: 1px solid #c8c7cc;
  content: "";
  height: 20px;
  left: 0;
  margin-right: 10px;
  width: 20px;
  border-radius: 0;
  top: 1px;
}
.clip-check input[type=checkbox]:checked+label:before {
  border-width: 10px;
}
#statusBtns > i.fa{
  margin: 0px 0px 5px 0px !important;
  display: none;
  opacity: 0.7;
  font-size: 28px;
  cursor: pointer;
}
.dropdown-menu > li > a:focus{
  background-color: #fff;
}
.dropdown-menu > li > a:hover{
  background-color: #f5f5f5;
}
#filterList{
  width: 30%;
}
.btn-set div.dropdown{
  margin: 0px 0px 10px 0px;
}
.pull-right > .dropdown-menu{
  top: 43px;
}
.margin-none{
  margin: 0px !important;
}
.padding-none{
  padding: 0px;
}
.mainMenuChecked{
  background-color: #eee;
}
.dropdown-toggle .fa-times-circle-o {
  display: none;
  float: right;
  margin-top: 1px;
  font-size: 16px;
}
.fa-times-circle-o:hover{
  color: red;
}
ul.dropdown-menu.sub-menu > li >label {
  color: #333;
  font-weight: 400;
}
.padtb10{
  padding: 10px 0px;
}
.liNum{
  display: inline-block;
  position: relative;
  left: -28px;
  top: -66px;
  font-size: 12px;
}
.bg-7{
  background-color: #bd1f1d;
}
.bg-8{
  background-color: rgb(86, 128, 32);
}
.timeline-xs .timeline-item.crown {
  border-left-color: #bd1f1d;
}
.timeline-xs .timeline-item.crown:after {
  border-color: #bd1f1d;
}
.fixed{
  position: fixed;
  float: right !important;
  right: 35px;
  z-index: 99999999;
  top: 5px;
}
#removeAllBtn{
  margin: 4px 10px 0px 10px !important;
  display: none;
  border-radius: 20px;
  font-size: 10px;
  padding: 4px 10px 5px 10px;
}
#removeAllBtn:active{
 color: #8e8e93; 
 background-color: #fff; 
 border-color: rgb(173, 173, 173); 
}
#removeAllBtn > i.fa{
  font-size: 14px;
  top: 1px;
  position: relative;
  left: 2px;
}
.cust-icon-cont{
  /*margin-bottom: 6px;*/
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #777777;
  margin-left: 5px;
  box-shadow: 0px 0px 3px #ccc;
}
#customiseBtnCont{
  padding: 5px 9px;
}
#removeAllCont{
  padding: 8px 0px 0px;
  margin: 0px;
  padding-top: 0px;
}
/*ul.dropdown-menu.sub-menu{
  max-width: 50px;
}*/
ul.dropdown-menu.sub-menu > li > label{
  text-overflow: ellipsis;
  max-width: 150px;
  display: block;
  overflow: hidden;
}
#ctrlTableContainer{
  margin-top: 10px;
}
.spinnerContainer > .fa-spinner{
  font-size: 20px;
  position: relative;
  top: 7px;
}
#groupContainer .panel-heading{
  padding: 0px;
  border-bottom: 0px !important;
}
#groupContainer .panel-heading i.fa{
  position: relative;
  bottom: 28px;
  right: 15px;
  font-size: 15px;
  color: #aaa;
  transition: all ease-in-out 0.5s;
}
#groupContainer .panel-heading > span.fa{
 position: absolute;
 top: 0px;
 z-index: 1;
 font-size: 16px;
 padding: 22px 22px 22px 22px;
 left: 0px;
 background-color: #fff;
}
#groupContainer .panel-heading > span.fa:before{
 left: 15px;
 bottom: 13px
}
#groupContainer .panel-heading h4{
  position: relative;
  top: 10px;
  left: 10px;
}
#groupContainer .panel-heading-span{
 background-color: #f1f1f1;
 color: #777777;
 padding: 12px 15px;
 position: relative;
 top: 0px;
 width: 100%;
 display: block;
 transition: all ease-in-out .5s;
 /*font-weight: bold;*/
}
#groupContainer td[data-title = "Status"] > span.label{
  position: relative;
  top: 2px;
}
#groupContainer div.panel-collapse{
  padding-left: 15px;
  padding-right: 15px;
}
.rotateIcon{
 transform: rotate(225deg);
}
.changeColor{
 background-color: #bbb !important;
}
.color-white{
 color: #fff !important;
}
.modal-content{
 border-radius: 0px;
}
.modal-header{
 background-color: #f1f1f1;
}
.modal-footer{
  padding: 0px 15px 0px 0px;
}
#customiseModal li.switchLi{
 /*background-color: #f1f1f1;*/
 margin-bottom: 10px;
 margin-right: 10px;
 /*width: 48%;*/
 padding: 5px 5px 5px 10px;
 border: 1px solid #ddd;
 border-radius: 20px;
 background-color: #fff;
 height: 35px;
 font-weight: 300;
 font-size: 13px;
}
#customiseModal .switchSpan{
  position: relative;
  top: 2px;
}
#customiseModal .modal-body input[type=checkbox] {
 height: 0;
 width: 0;
 visibility: hidden;
}
#customiseModal .modal-body label {
 cursor: pointer;
 text-indent: -9999px;
 width: 40px;
 height: 22px;
 background: #fff;
 display: inline-block;
 border-radius: 100px;
 position: relative;
 float: right;
 border: 1px solid #ddd;
 top: 2px;
}
#customiseModal .modal-body label:after {
 content: '';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 20px;
 height: 20px;
 background: #fff;
 border-radius: 90px;
 transition: 0.3s;
 box-shadow: 2px 1px 1px #ccc;
}
#customiseModal .modal-body input:checked + label {
 background: #bada55;
}
#customiseModal .modal-body input:checked + label:after {
 left: calc(100% - 2px);
 transform: translateX(-100%);
}
#customiseModal .modal-body label:active:after {
 width: 20px;
}
th[data-name = "ctrlSuggested"],td[data-name = "ctrlSuggested"],
th[data-name = "ctrlSince"],td[data-name = "ctrlSince"],
th[data-name = "ctrlScore"],td[data-name = "ctrlScore"],
th[data-name = "ctrlProgress"],td[data-name = "ctrlProgress"],
th[data-name = "ctrlSince"],td[data-name = "ctrlSince"]{
 text-align: center !important;
}
tr[data-instance= "restInstance"]{
 display: none !important;
}
tr[data-instance= "restInstance"].show-all-instance{
 display: table-row !important; 
}
.onoffswitch {
  position: relative;
  width: 125px;
 -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
 display: none;
}
.onoffswitch-label {
 display: block; overflow: hidden; cursor: pointer;
 /*border: 2px solid rgba(139,202,57,1); */
 border-radius: 20px;
 position: relative;
 top: 5px;
}
.onoffswitch-inner {
 display: block; width: 200%; margin-left: -100%;
 transition: margin 0s ease-in-out 0.1s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
 display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
 font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
 box-sizing: border-box;
}
.onoffswitch-inner:before {
 content: "Only Controls";
 padding-left: 10px;
 background-color: #8BCA39; color: #FFFFFF;
}
.onoffswitch-inner:after {
 content: "All Instances";
 padding-right: 10px;
 background-color: #537FE3; color: #fff;
 text-align: right;
}
.onoffswitch-switch {
 display: block; width: 23px; margin: 6px;
 background: #FFFFFF;
 height: 23px;
 position: absolute; top: -2px; bottom: 0;
 right: 91px;
 border-radius: 25px;
 transition: all 0s ease-in-out 0.1s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
 margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
 right: 0px; 
}
li.sort-list {
  min-width: 120px;
  display: inline-block;
  font-size: 12px;
  background-color: #f1f1f1;
  margin: 5px 5px 5px 0px;
  padding: 5px 5px 5px 10px;
  border: 1px solid #ddd;
  cursor: move;
  text-align: center;
  transition: all ease-in-out 0s;
  font-weight: 300;
}
li.switchLi.checked-bg{
  background-color: #f1f1f1; 
}
.btn-set div.dropdown{
  position: relative;
  bottom: 6px;
  margin-right: 15px;
}
.toolkit-ul > li{
  margin: 5px 0px 0px 0px;
}
#customiseModal h4{
  color: #777777;
}
.onoffswitch {
  position: relative; width: 40px;
  display: inline-block;
  /* margin: 0; */
  /*float: right;
  margin-right: 40px;*/
  margin-bottom: 0px;
  margin-top: 2px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 20px; padding: 0; line-height: 20px;
  /*border: 2px solid #537fe3;*/
   border-radius: 20px;
  background-color: #537fe3;
  transition: background-color 0.1s ease-in 0s;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 18px;
  height: 18px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute; top: 1px; bottom: 0;
  right: 16px;
  /*border: 2px solid #537fe3;*/
   border-radius: 18px;
  transition: all 0.1s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
 /*border-color: #49E845;*/
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 3px; 
}
#switchView{
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
#switchView #leftLabel{
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  color: #aaa;
}
#switchView #rightLabel{
  float: right;
  margin-left: 10px;
  margin-top: 7px;
  color: #aaa;
}
#listContainer{
  display: none;
}
#createTaskUlList{
  display: none;
}
.fa1{
  color: #ff4d4b;
}
.fa3{
  color: rgba(139,202,57,1)
}
.fa4{
  color:#ff9725; 
}
.fa2{
  color: rgba(239,189,0,1);
}
td[data-title="taskCheck"] > i.fa{
  /*cursor: pointer;*/
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.managetask-icon{
  /*cursor: pointer;*/
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
#manageTaskPopup .popUpContainer{
  min-width: 40% !important;
}
#panel2 .dropdown-menu > li > a{
  font-weight: normal;
}
#panel2 .dropdown-menu > li > a > i.fa{
  font-size: 16px;
}
#panel2 .dropdown-user{
    /*left: 60px;*/
    top: 25px;
}
.cust-margin{
  margin: 0px 5px 0px 0px !important;
}
.negative-prog li.fill.accfail:last-child:before{
  background: #ff9725;
}
table th{
  font-size: 14px !important;
}
.custom-caret:before{
 font-family: 'FontAwesome';
 content: "\f0d7";
}
.headerSortUp > .custom-caret:before{
 font-family: 'FontAwesome';
 content: "\f0d7";
}
.headerSortDown > .custom-caret:before{
 font-family: 'FontAwesome';
 content: "\f0d8"
}
#customiseModal .disabled-li label{
  cursor: not-allowed;
}
#listViewTable .dataTables_empty{
  text-align: center;
}
.dataTables_wrapper{
  overflow: inherit;
}
td.popOpen{
  cursor: pointer;
}
.table>tbody>tr>td.white-text{
    color: #fff !important;
}
.deltaContainer{
  position: fixed;
  top: 39px;
  right: -100%;
  width: 90%;
  background-color: #fff;
  box-shadow: 0px 35px 80px #8a8a8a;
  -webkit-transition:all ease-in-out 0.2s;
  -moz-transition:all ease-in-out 0.2s;
  -ms-transition:all ease-in-out 0.2s;
  transition:all ease-in-out 0.2s;
  z-index: 99999;
  border: 2px solid #ccc;
  overflow: auto;
  height: 100%;
  max-height: 100%;
    
}
.deltaContainer.open{
  right: 0;
}
.deltaContainerHead{

  padding: 10px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
}

.deltaHeadIcons{
  float: right;
}
.appendDelta{
  margin-bottom: 50px;
}
.deltaHeadIcons > img.icons{
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
  -webkit-transition:all ease-in-out 0.2s;
  -moz-transition:all ease-in-out 0.2s;
  -ms-transition:all ease-in-out 0.2s;
  transition:all ease-in-out 0.2s;
}
.deltaHeadIcons > img.icons:hover{
  background-color: #f1f1f1;
  box-shadow: 0px 2px 4px #4d4d4d; 
}
.deltaContainerHead.fixed{
  width: 90%;
  position: fixed;
  top: 38px;
  right: 0;
}
li > label.quest-checkbox-label{
  min-width: 0;
}