 .table-responsive table tbody tr td, table thead tr th{
   text-align: center !important;
   vertical-align: middle !important;
 }
 .table-responsive table tbody tr td.white-text{
   color: #fff !important;
 }
 .custom-caret:before{
   font-family: 'FontAwesome';
   content: "\f0d8";
 }
 .headerSortUp > .custom-caret:before{
   font-family: 'FontAwesome';
   content: "\f0d8";
 }
 .headerSortDown > .custom-caret:before{
   font-family: 'FontAwesome';
   content: "\f0d7"
 }
 #assetGraph{
   width: 100%;
   height: 450px;
 }
 .generateReport{
   color: #fff;
   padding: 5px 8px;
   border: none;
   font-weight: 400;
   position: absolute !important;
   top: -3px;
   right: 22px;
 }
 #endDatelabel{
   margin-top: 10px;
 }
 .dropdown-menu{
   visibility: visible;
 }
 .profile-tab-header{
   background-color: #f1f1f1;
   padding-left: 0px;
 }
 .profile-tab-container{
   border: 1px solid #ddd;
 }
 .pull-right > .dropdown-menu{
   top: 35px;
 }
 #toolContainer{
   margin-bottom: 5px;
   margin-top: 10px;
   padding-right: 0px;
 }
 .panel.panel-white{
   margin-bottom: 200px;
 }
 .tog-btn{
  background-color: transparent;
  border: 1px solid #ccc;
}
ul.dropdown-menu.sub-menu.upper-menu{
 max-width: 50px;  
}
.dropdown-submenu > .dates-menu{
 left: -118%;
 width: 200px;
}
.dropdown-menu .inner-container{
 padding: 10px;
}
.circleText{
  width: 160px;
  margin-left: -80px;
  position: absolute;
}
.cmsText{
  top: 38%;
  left: 50%;
  font-size: 32px;
  font-weight: bold
}
.totalcntrltext{
  top: 50%;
  left: 50%;
  font-size: 90%;
}
.tog-btn.active, .tog-btn.active:hover{
  background-color: #fc982b;
  color: #fff;
  border: 1px solid #fc982b;
}
.assetCount{
  padding: 3px 4px;
  border-radius: 50%;
  display: inline-block;
  /*background-color: #ff4d4b;*/
  color: #fff;
  font-size: 10px;
  position: relative;
  bottom: 1px;
  left: 2px;
}
#verticalInfoTable table>tbody>tr>td{
  text-align: left !important;
}
#verticalInfoTable table>thead>tr>th{
  text-align: left !important;
}
td#color-1{
 color: #ff4d4b !important; 
}
td#color-2{
  color: #ff9725 !important; 
}
td#color-3{
  color: rgba(239,189,0,1) !important; 
}
td#color-4{
 color: rgba(139,202,57,1) !important; 
}
td#color-5{
  color: #537FE3 !important;
}
.assetCountTable{
 cursor: pointer;
 padding: 5px 10px!important;
}
#circleBar-web-text,
#circleBar-mobile-text{
  font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size:16px;
  fill:#000;
}
#circleBar-web-labels tspan,
#circleBar-mobile-labels tspan {
  font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size:10px;
  fill:#6D6E71;
}

#circleBar-web-values tspan,
#circleBar-mobile-values tspan {
  font-family: 'FranklinGothic-Book' "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 9px;
  font-weight:bold;
  fill:#000;
}
#circleBar-web-values tspan {
  fill: #7D3A4D;
}
#circleBar-mobile-values tspan {
  fill: #684E88;
}
#customiseModal li.switchLi.disabled-li{
 background-color: #f1f1f1;
 cursor: not-allowed;
}
.hidden-li{
 display: none !important;
}
.hide-cell{
 display: none !important;
}
.show-cell{
 display: table-cell !important;
}
table.dataTable.no-footer{
 border-bottom: 0px;
}

/*select[name*="user-table"]{
  display: none !important;
}*/
label{
 color: #5b5b60;
}
input[type="search"]{
  height: 25px;
}
.dataTables_length{
  margin-right: 15px;
  position: relative;
  top: 5px;
}
button.dt-button, div.dt-button, a.dt-button{
   
  width: 111px;
  text-align: center;
  border-radius: 0;
}
button.dt-button:hover, div.dt-button:hover, a.dt-button:hover{
  
  background: #fff !important;
  
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  background: #EAEAE7;
  color: #000 !important;
  border-radius: 0%;
  border: 1px solid #EAEAE7;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
 background: #CCCCCC;
 color: #000 !important;
 border-radius: 0%;
 border: 1px solid #CCCCCC;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: #fff;
  border: 1px solid #CCCCCC;
  color: #000 !important;
}
  .dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 2;
     background-color: #537FE3;
     top: 18px;
     right: 14px; 
     display: none;
}
 
 input[type="search"]{
  height: 25px;
  margin-right: 38px;
}
.dropdownn-content {
    display: none;
    position: absolute!important;
    right:11px;
    top:46px;
     
    z-index: 1;
}

.dropdownn-content a {
    
    padding: 12px 10px;
    
    display: block;
}


.dropdownn:hover .dropdownn-content {
    display: block;
}

select.input-sm {
    height: 19px;
    padding: 0;
  }

.cust-icon-cont{
  /*margin-bottom: 6px;*/
 
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #777777;
  margin-left: 5px;
  box-shadow: 0px 0px 3px #ccc;
}


.dt-buttons.btn-group
{
  width: 100% !important;
    display: inline-grid !important;
}
  