
a:focus, button:focus{
	outline: 0;
}
table {
	border-spacing: 0;
	border-collapse: collapse
}
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
td, th {
	padding: 0
}

@media print {
	blockquote, img, pre, tr {
		page-break-inside: avoid
	}
	*, :after, :before {
		color: #000!important;
		text-shadow: none!important;
		background: 0 0!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important
	}

	.navbar {
		display: none
	}
	.btn>.caret, .dropup>.btn>.caret {
		border-top-color: #000!important
	}
	.label {
		border: 1px solid #000
	}
	.table {
		border-collapse: collapse!important
	}
	.table td, .table th {
		background-color: #fff!important
	}
	.table-bordered td, .table-bordered th {
		border: 1px solid #ddd!important
	}
}


.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top
}
.table>thead>tr>th {
	vertical-align: bottom
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
	border-top: 0
}
.table>tbody+tbody {
	border-top: 2px solid #ddd
}
.table .table {
	background-color: #fff
}
/*
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
	padding: 5px
}
*/
.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border: 1px solid #ddd
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	border-bottom-width: 2px
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9
}
.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
	background-color: #f5f5f5
}
table col[class*=col-] {
	position: static;
	display: table-column;
	float: none
}
table td[class*=col-], table th[class*=col-] {
	position: static;
	display: table-cell;
	float: none
}
.btn-group>.btn-group, .btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group, .dropdown-menu {
	float: left
}
.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr.active:hover>th, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover {
	background-color: #e8e8e8
}
.table>tbody>tr.success>td, .table>tbody>tr.success>th, .table>tbody>tr>td.success, .table>tbody>tr>th.success, .table>tfoot>tr.success>td, .table>tfoot>tr.success>th, .table>tfoot>tr>td.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>thead>tr.success>th, .table>thead>tr>td.success, .table>thead>tr>th.success {
	background-color: #dff0d8
}
.table-hover>tbody>tr.success:hover>td, .table-hover>tbody>tr.success:hover>th, .table-hover>tbody>tr:hover>.success, .table-hover>tbody>tr>td.success:hover, .table-hover>tbody>tr>th.success:hover {
	background-color: #d0e9c6
}
.table>tbody>tr.info>td, .table>tbody>tr.info>th, .table>tbody>tr>td.info, .table>tbody>tr>th.info, .table>tfoot>tr.info>td, .table>tfoot>tr.info>th, .table>tfoot>tr>td.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>thead>tr.info>th, .table>thead>tr>td.info, .table>thead>tr>th.info {
	background-color: #d9edf7
}
.table-hover>tbody>tr.info:hover>td, .table-hover>tbody>tr.info:hover>th, .table-hover>tbody>tr:hover>.info, .table-hover>tbody>tr>td.info:hover, .table-hover>tbody>tr>th.info:hover {
	background-color: #c4e3f3
}
.table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning, .table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th, .table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning {
	background-color: #fcf8e3
}
.table-hover>tbody>tr.warning:hover>td, .table-hover>tbody>tr.warning:hover>th, .table-hover>tbody>tr:hover>.warning, .table-hover>tbody>tr>td.warning:hover, .table-hover>tbody>tr>th.warning:hover {
	background-color: #faf2cc
}
.table>tbody>tr.danger>td, .table>tbody>tr.danger>th, .table>tbody>tr>td.danger, .table>tbody>tr>th.danger, .table>tfoot>tr.danger>td, .table>tfoot>tr.danger>th, .table>tfoot>tr>td.danger, .table>tfoot>tr>th.danger, .table>thead>tr.danger>td, .table>thead>tr.danger>th, .table>thead>tr>td.danger, .table>thead>tr>th.danger {
	background-color: #f2dede
}
.table-hover>tbody>tr.danger:hover>td, .table-hover>tbody>tr.danger:hover>th, .table-hover>tbody>tr:hover>.danger, .table-hover>tbody>tr>td.danger:hover, .table-hover>tbody>tr>th.danger:hover {
	background-color: #ebcccc
}
.table-responsive {
	min-height: .01%;
	overflow-x: auto
}

@media screen and (max-width:767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd
	}
	.table-responsive>.table {
		margin-bottom: 0
	}
	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
		white-space: nowrap
	}
	.table-responsive>.table-bordered {
		border: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>thead>tr>th:first-child {
		border-left: 0
	}
	.table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>thead>tr>th:last-child {
		border-right: 0
	}
	.table-responsive>.table-bordered>tbody>tr:last-child>td, .table-responsive>.table-bordered>tbody>tr:last-child>th, .table-responsive>.table-bordered>tfoot>tr:last-child>td, .table-responsive>.table-bordered>tfoot>tr:last-child>th {
		border-bottom: 0
	}
}
fieldset {
	min-width: 0
}
legend {
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	line-height: inherit;
	border: 0;
	border-bottom: 1px solid #e5e5e5
}
.form-control, output {
	font-size: 14px;
	line-height: 1.42857143
}
label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px
}
.checkbox, .form-control, .radio, input[type=file], output {
	display: block
}
input[type=search] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none
}
input[type=checkbox], input[type=radio] {
	margin: 4px 0 0;
	margin-top: 1px\9
}
input[type=range] {
	display: block;
	width: 100%
}
select[multiple], select[size] {
	height: auto
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
	outline: dotted thin;
	outline: -webkit-focus-ring-color auto 5px;
	outline-offset: -2px
}
output {
	padding-top: 7px;
	color: #555
}
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .form-control-feedback, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
	color: #3c763d
}
.form-control {
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
}
.form-control::-ms-expand {
	background-color:transparent;
	border:0
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}
textarea.form-control {
	height: auto
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type=date].form-control, input[type=time].form-control, input[type=datetime-local].form-control, input[type=month].form-control {
		line-height: 34px
	}
	.input-group-sm input[type=date], .input-group-sm input[type=time], .input-group-sm input[type=datetime-local], .input-group-sm input[type=month], input[type=date].input-sm, input[type=time].input-sm, input[type=datetime-local].input-sm, input[type=month].input-sm {
		line-height: 30px
	}
	.input-group-lg input[type=date], .input-group-lg input[type=time], .input-group-lg input[type=datetime-local], .input-group-lg input[type=month], input[type=date].input-lg, input[type=time].input-lg, input[type=datetime-local].input-lg, input[type=month].input-lg {
		line-height: 46px
	}
}
.form-group {
	margin-bottom: 15px
}
.checkbox, .radio {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px
}
.checkbox label, .radio label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
	position: absolute;
	margin-top: 4px\9;
	margin-left: -20px
}
.checkbox+.checkbox, .radio+.radio {
	margin-top: -5px
}
.checkbox-inline, .radio-inline {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	vertical-align: middle;
	cursor: pointer
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
	margin-top: 0;
	margin-left: 10px
}
.checkbox-inline.disabled, .checkbox.disabled label, .radio-inline.disabled, .radio.disabled label, fieldset[disabled] .checkbox label, fieldset[disabled] .checkbox-inline, fieldset[disabled] .radio label, fieldset[disabled] .radio-inline, fieldset[disabled] input[type=checkbox], fieldset[disabled] input[type=radio], input[type=checkbox].disabled, input[type=checkbox][disabled], input[type=radio].disabled, input[type=radio][disabled] {
	cursor: not-allowed
}
.form-control-static {
	min-height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 0
}
.form-control-static.input-lg, .form-control-static.input-sm {
	padding-right: 0;
	padding-left: 0
}
.form-group-sm .form-control, .input-sm {
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 12px
}
.input-sm {
	height: 30px;
	line-height: 1.5
}
select.input-sm {
	height: 30px;
	line-height: 30px
}
select[multiple].input-sm, textarea.input-sm {
	height: auto
}
.form-group-sm .form-control {
	height: 30px;
	line-height: 1.5
}
.form-group-lg .form-control, .input-lg {
	border-radius: 6px;
	padding: 10px 16px;
	font-size: 18px
}
.form-group-sm select.form-control {
	height: 30px;
	line-height: 30px
}
.form-group-sm select[multiple].form-control, .form-group-sm textarea.form-control {
	height: auto
}
.form-group-sm .form-control-static {
	height: 30px;
	min-height: 32px;
	padding: 6px 10px;
	font-size: 12px;
	line-height: 1.5
}
.input-lg {
	height: 46px;
	line-height: 1.3333333
}
select.input-lg {
	height: 46px;
	line-height: 46px
}
select[multiple].input-lg, textarea.input-lg {
	height: auto
}
.form-group-lg .form-control {
	height: 46px;
	line-height: 1.3333333
}
.form-group-lg select.form-control {
	height: 46px;
	line-height: 46px
}
.form-group-lg select[multiple].form-control, .form-group-lg textarea.form-control {
	height: auto
}
.form-group-lg .form-control-static {
	height: 46px;
	min-height: 38px;
	padding: 11px 16px;
	font-size: 18px;
	line-height: 1.3333333
}
.has-feedback {
	position: relative
}
.has-feedback .form-control {
	padding-right: 42.5px
}
.form-control-feedback {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: none
}
.collapsing, .dropdown, .dropup {
	position: relative
}
.form-group-lg .form-control+.form-control-feedback, .input-group-lg+.form-control-feedback, .input-lg+.form-control-feedback {
	width: 46px;
	height: 46px;
	line-height: 46px
}
.form-group-sm .form-control+.form-control-feedback, .input-group-sm+.form-control-feedback, .input-sm+.form-control-feedback {
	width: 30px;
	height: 30px;
	line-height: 30px
}
.has-success .form-control {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
.has-success .form-control:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #67b168
}
.has-success .input-group-addon {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #3c763d
}
.has-warning .checkbox, .has-warning .checkbox-inline, .has-warning .control-label, .has-warning .form-control-feedback, .has-warning .help-block, .has-warning .radio, .has-warning .radio-inline, .has-warning.checkbox label, .has-warning.checkbox-inline label, .has-warning.radio label, .has-warning.radio-inline label {
	color: #8a6d3b
}
.has-warning .form-control {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
.has-warning .form-control:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #c0a16b
}
.has-warning .input-group-addon {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b
}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form-control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
	color: #a94442
}
.has-error .form-control {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
.has-error .form-control:focus {
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483
}
.has-error .input-group-addon {
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442
}
.has-feedback label~.form-control-feedback {
	top: 25px
}
.has-feedback label.sr-only~.form-control-feedback {
	top: 0
}
.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #737373
}

@media (min-width:768px) {
	.form-inline .form-control-static, .form-inline .form-group {
		display: inline-block
	}
	.form-inline .control-label, .form-inline .form-group {
		margin-bottom: 0;
		vertical-align: middle
	}
	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle
	}
	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle
	}
	.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn {
		width: auto
	}
	.form-inline .input-group>.form-control {
		width: 100%
	}
	.form-inline .checkbox, .form-inline .radio {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}
	.form-inline .checkbox label, .form-inline .radio label {
		padding-left: 0
	}
	.form-inline .checkbox input[type=checkbox], .form-inline .radio input[type=radio] {
		position: relative;
		margin-left: 0
	}
	.form-inline .has-feedback .form-control-feedback {
		top: 0
	}
	.form-horizontal .control-label {
		padding-top: 7px;
		margin-bottom: 0;
		text-align: right
	}
}
.btn-block, input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
	width: 100%
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 0
}
.form-horizontal .checkbox, .form-horizontal .radio {
	min-height: 27px
}
.navbar, .panel-heading {
	min-height: 40px;
	font-family: 'Lato';
	font-weight: 400;
}
.form-horizontal .form-group {
	margin-right: -15px;
	margin-left: -15px
}
.form-horizontal .has-feedback .form-control-feedback {
	right: 15px
}

@media (min-width:768px) {
	.form-horizontal .form-group-lg .control-label {
		padding-top: 11px;
		font-size: 18px
	}
	.form-horizontal .form-group-sm .control-label {
		padding-top: 6px;
		font-size: 12px
	}
}

.panel-heading>.dropdown .dropdown-toggle, .panel-title, .panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
	color: inherit
}
.list-group-item-heading {
	margin-top: 0;
	margin-bottom: 5px
}
.list-group-item-text {
	margin-bottom: 0;
	line-height: 1.3
}
.panel {
	margin-bottom: 20px;
	background-color: #fff
}
.panel-title, .panel>.list-group, .panel>.panel-collapse>.list-group, .panel>.panel-collapse>.table, .panel>.table, .panel>.table-responsive>.table {
	margin-bottom: 0
}
.panel-body {
	padding: 15px
}
.panel-heading {
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}
.panel-title {
	margin-top: 0;
	font-size: 16px
}
.panel-footer {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
	border-width: 1px 0;
	border-radius: 0
}
.panel-group .panel-heading, .panel>.table-bordered>tbody>tr:first-child>td, .panel>.table-bordered>tbody>tr:first-child>th, .panel>.table-bordered>tbody>tr:last-child>td, .panel>.table-bordered>tbody>tr:last-child>th, .panel>.table-bordered>tfoot>tr:last-child>td, .panel>.table-bordered>tfoot>tr:last-child>th, .panel>.table-bordered>thead>tr:first-child>td, .panel>.table-bordered>thead>tr:first-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:first-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:first-child>th, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>td, .panel>.table-responsive>.table-bordered>tbody>tr:last-child>th, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td, .panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th, .panel>.table-responsive>.table-bordered>thead>tr:first-child>td, .panel>.table-responsive>.table-bordered>thead>tr:first-child>th {
	border-bottom: 0
}
.panel>.list-group:first-child .list-group-item:first-child, .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
	border-top: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
.panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
	border-bottom: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}
.panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0
}
.list-group+.panel-footer, .panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 0
}
.panel>.panel-collapse>.table caption, .panel>.table caption, .panel>.table-responsive>.table caption {
	padding-right: 15px;
	padding-left: 15px
}
.panel>.table-responsive:first-child>.table:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child, .panel>.table:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child, .panel>.table:first-child>thead:first-child>tr:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child {
	border-top-left-radius: 3px
}
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table:first-child>thead:first-child>tr:first-child th:last-child {
	border-top-right-radius: 3px
}
.panel>.table-responsive:last-child>.table:last-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child, .panel>.table:last-child, .panel>.table:last-child>tbody:last-child>tr:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child td:first-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:first-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:first-child {
	border-bottom-left-radius: 3px
}
.panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child td:last-child, .panel>.table-responsive:last-child>.table:last-child>tbody:last-child>tr:last-child th:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .panel>.table-responsive:last-child>.table:last-child>tfoot:last-child>tr:last-child th:last-child, .panel>.table:last-child>tbody:last-child>tr:last-child td:last-child, .panel>.table:last-child>tbody:last-child>tr:last-child th:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child td:last-child, .panel>.table:last-child>tfoot:last-child>tr:last-child th:last-child {
	border-bottom-right-radius: 3px
}
.panel>.panel-body+.table, .panel>.panel-body+.table-responsive, .panel>.table+.panel-body, .panel>.table-responsive+.panel-body {
	border-top: 1px solid #ddd
}
.panel>.table>tbody:first-child>tr:first-child td, .panel>.table>tbody:first-child>tr:first-child th {
	border-top: 0
}
.panel>.table-bordered, .panel>.table-responsive>.table-bordered {
	border: 0
}
.panel>.table-bordered>tbody>tr>td:first-child, .panel>.table-bordered>tbody>tr>th:first-child, .panel>.table-bordered>tfoot>tr>td:first-child, .panel>.table-bordered>tfoot>tr>th:first-child, .panel>.table-bordered>thead>tr>td:first-child, .panel>.table-bordered>thead>tr>th:first-child, .panel>.table-responsive>.table-bordered>tbody>tr>td:first-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:first-child, .panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child, .panel>.table-responsive>.table-bordered>thead>tr>td:first-child, .panel>.table-responsive>.table-bordered>thead>tr>th:first-child {
	border-left: 0
}
.panel>.table-bordered>tbody>tr>td:last-child, .panel>.table-bordered>tbody>tr>th:last-child, .panel>.table-bordered>tfoot>tr>td:last-child, .panel>.table-bordered>tfoot>tr>th:last-child, .panel>.table-bordered>thead>tr>td:last-child, .panel>.table-bordered>thead>tr>th:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>td:last-child, .panel>.table-responsive>.table-bordered>tbody>tr>th:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child, .panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child, .panel>.table-responsive>.table-bordered>thead>tr>td:last-child, .panel>.table-responsive>.table-bordered>thead>tr>th:last-child {
	border-right: 0
}
.panel>.table-responsive {
	margin-bottom: 0;
	border: 0
}
.panel-group {
	margin-bottom: 20px
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 0 !important;
}
.panel-group .panel+.panel {
	margin-top: 5px
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #ddd
}
.panel-group .panel-footer {
	border-top: 0
}
.panel-group .panel-footer+.panel-collapse .panel-body {
	border-bottom: 1px solid #ddd
}
.panel-default {
	border-color: #ddd
}
.panel-default > .panel-heading {
	color: #333;
	border-radius: 0px !important;
	background: #f3f0f1;
	background: -moz-linear-gradient(top,#f3f0f1 0,#eee 100%);
	background: -webkit-linear-gradient(top,#f3f0f1 0,#eee 100%);
	background: linear-gradient(to bottom,#f3f0f1 0,#eee 100%);
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd
}
.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333
}
.panel-default>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ddd
}
.panel-primary {
	border-color: #337ab7
}
.panel-primary>.panel-heading {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7
}
.panel-primary>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #337ab7
}
.panel-primary>.panel-heading .badge {
	color: #337ab7;
	background-color: #fff
}
.panel-primary>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #337ab7
}
.panel-success {
	border-color: #d6e9c6
}
.panel-success>.panel-heading {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6
}
.panel-success>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6
}
.panel-success>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d
}
.panel-success>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6
}
.panel-info {
	border-color: #bce8f1
}
.panel-info>.panel-heading {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1
}
.panel-info>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #bce8f1
}
.panel-info>.panel-heading .badge {
	color: #d9edf7;
	background-color: #31708f
}
.panel-info>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #bce8f1
}
.panel-warning {
	border-color: #faebcc
}
.panel-warning>.panel-heading {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc
}
.panel-warning>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #faebcc
}
.panel-warning>.panel-heading .badge {
	color: #fcf8e3;
	background-color: #8a6d3b
}
.panel-warning>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #faebcc
}
.panel-danger {
	border-color: #ebccd1
}
.panel-danger>.panel-heading {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1
}
.panel-danger>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ebccd1
}
.panel-danger>.panel-heading .badge {
	color: #f2dede;
	background-color: #a94442
}
.panel-danger>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #ebccd1
}

.navbar-form .form-group {
	display: block
}
.main-content {
	position: relative;
	background: #f7f7f8
}
.main-content .container {
	max-width: none!important;
	width: 100%!important;
	display: inline-block
}
.main-content>.container {
	padding-bottom: 50px
}

@media (max-width:991px) {
	.main-content {
		padding-top: 60px
	}
}


.go-top {
	cursor: pointer;
	font-size: 16px;
	margin-bottom: 0;
	margin-right: 0;
	text-decoration: none;
	line-height: 50px;
	text-align: center;
	padding: 10px
}

.no-padding {
	padding: 0!important
}
.no-margin {
	margin: 0!important
}
.inline {
	display: inline
}
.no-radius {
	-moz-border-radius: 0!important;
	-webkit-border-radius: 0;
	border-radius: 0!important
}
.no-border {
	border: none!important
}
.no-border-top {
	border-top: none!important
}
.no-border-left {
	border-left: none!important
}
.no-border-right {
	border-right: none!important
}
.border-bottom, .border-left, .border-right, .border-top {
	border-color: rgba(0,0,0,.07)!important
}
.border-right {
	border-right-style: solid!important;
	border-right-width: 1px!important
}
.border-left {
	border-left-style: solid!important;
	border-left-width: 1px!important
}
.border-top {
	border-top-style: solid!important;
	border-top-width: 1px!important
}
.border-bottom {
	border-bottom-style: solid!important;
	border-bottom-width: 1px!important
}
/*
.border-light {
	border-color: rgba(255,255,255,.2)!important
}
*/
.border-around {
	border: 1px solid #c8c7cc!important
}
.panel-white .border-light, .partition-white .border-light {
	border-color: rgba(0,0,0,.07)!important
}
.border-dark {
	border-color: rgba(0,0,0,.2)
}
.panel-white .border-dark, .partition-white .border-dark {
	border-color: rgba(0,0,0,.3)!important
}
.block {
	display: block!important
}
.inline-block {
	display: inline-block!important
}
.no-display {
	display: none!important
}
.display-table {
	display: table!important
}
.display-table-cell {
	display: table-cell!important
}
.example {
	margin: 15px 0;
	padding: 14px 19px
}
.space5 {
	display: block;
	margin-bottom: 5px!important;
	clear: both
}
.circle-100, .circle-50 {
	border-radius: 50%;
	display: inline-block
}

.vertical-align-bottom {
	vertical-align: bottom!important
}
.vertical-align-middle {
	vertical-align: middle!important
}
.vertical-align-top {
	vertical-align: top!important
}
.rate .percentage, .rate i {
	vertical-align: middle;
	padding-bottom: 15px
}
.large-letters {
	font-size: 60px
}
.text-muted {
	color: #9b9b9f
}
.text-bold {
	font-weight: 400!important
}
.text-extra-small {
	font-size: 11px!important
}
.text-small {
	font-size: 10px!important
}
.text-large {
	font-size: 16px!important
}
.text-extra-large {
	font-size: 17px!important
}
h1.text-extra-large {
	font-size: 50px!important
}
.text-primary {
	color: #58748B!important
}

.center {
	text-align: center
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.circle-100 {
	width: 100px;
	height: 100px;
	-moz-box-shadow: 0, 1px, 2px, #C3C3C3;
	-webkit-box-shadow: 0, 1px, 2px, #C3C3C3;
	box-shadow: 0, 1px, 2px, #C3C3C3
}
.circle-50 {
	width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	-moz-box-shadow: 0, 1px, 2px, #C3C3C3;
	-webkit-box-shadow: 0, 1px, 2px, #C3C3C3;
	box-shadow: 0, 1px, 2px, #C3C3C3
}
.overlayer.fullwidth, .rate img {
	width: 100%
}
.rate .value {
	font-size: 22px;
	font-weight: 600
}
.rate .percentage {
	font-size: 15px
}
.rate img {
	display: block;
	position: relative
}
.overlayer {
	display: block;
	position: absolute;
	z-index: 101;
	background-image: linear-gradient(rgba(0,0,0,0) 0, #000 100%);
	opacity: 1
}
.overlayer .overlayer-wrapper {
	display: block;
	position: relative;
	z-index: 100
}
.bottom-left {
	bottom: 0;
	left: 0;
	position: absolute
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: 0;
	background: #fff;
	cursor: inherit;
	display: block;
}
hr {
	background-image: -o-linear-gradient(left center,transparent,rgba(0,0,0,.2),transparent);
	background-image: -webkit-gradient(linear,left center,transparent,rgba(0,0,0,.2),transparent);
	background-image: -ms-linear-gradient(left center,transparent,rgba(0,0,0,.2),transparent);
	background-image: -moz-linear-gradient(left center,transparent,rgba(0,0,0,.2),transparent);
	background-image: -webkit-linear-gradient(left center,transparent,rgba(0,0,0,.2),transparent);
	background-image: linear-gradient(to left,rgba(0,0,0,0),rgba(0,0,0,.2),rgba(0,0,0,0));
	border: 0;
	height: 1px;
	margin: 22px 0;
}
.label-default {
	background-color: #58748B
}
.label {
	font-size: 80%!important;
	padding: .3em .6em!important;
	letter-spacing: 1px;
	font-family: 'Lato';
	border-radius: 0;
}
.badge-inverse, .label-inverse {
	background-color: #2C2F3B
}
fieldset {
	background: #fff;
	border: 1px solid #e6e8e8;
	border-radius: 5px;
	margin: 20px 0;
	padding: 25px;
	position: relative
}
fieldset .form-group {
	margin-left: 0;
	margin-right: 0
}
fieldset legend {
	background: inherit;
	font-family: Lato, sans-serif;
	color: #58748B;
	font-size: 15px;
	left: 10px;
	padding: 0 10px;
	position: absolute;
	top: -12px;
	font-weight: 400;
	width: auto!important;
	border: none!important
}
.form-control::-moz-placeholder {
	color:#9b9b9f;
	opacity:1
}
.form-control:-ms-input-placeholder {
	color:#9b9b9f;
	opacity:1
}
.form-control::-webkit-input-placeholder {
	color:#9b9b9f;
	opacity:1
}
input[type=text], input[type=password], input[type=datetime], input[type=daterange], input[type=week], input[type=email], input[type=url], input[type=tel], input[type=color], input[type=date], input[type=time], input[type=datetime-local], input[type=month], input[type=number], input[type=search], textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #FFF!important;
	background-image: none!important;
	border: 1px solid #c8c7cc;
	border-radius: 0;
	color: #5b5b60!important;
	font-size: 14px!important;
	line-height: 1.2!important;
	box-shadow: none!important
}
/*
input[type=text]:hover, input[type=password]:hover, input[type=datetime]:hover, input[type=daterange]:hover, input[type=week]:hover, input[type=email]:hover, input[type=url]:hover, input[type=tel]:hover, input[type=color]:hover, input[type=date]:hover, input[type=time]:hover, input[type=datetime-local]:hover, input[type=month]:hover, input[type=number]:hover, input[type=search]:hover, select:hover, textarea:hover {
	border-color: #aeacb4!important
}
*/
input[type=text]:focus, input[type=password]:focus, input[type=datetime]:focus, input[type=daterange]:focus, input[type=week]:focus, input[type=email]:focus, input[type=url]:focus, input[type=tel]:focus, input[type=color]:focus, input[type=date]:focus, input[type=time]:focus, input[type=datetime-local]:focus, input[type=month]:focus, input[type=number]:focus, input[type=search]:focus, select:focus, textarea:focus {
	box-shadow: none!important;
	border-color: #bbbac0!important;
	background-color: #F8F8F8!important
}
select {
	
	border: 1px solid #c8c7cc;
	border-radius: 0 !important;
	color: #5b5b60!important;
	font-family: inherit!important;
	font-size: 14px!important;
	line-height: 1.2!important;
	background-color: #f9f9f9;
	box-shadow: none!important
}
.clip-select {
	margin: 0;
	display: block;
	position: relative
}
.clip-select select {
	padding-right: 20px!important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
.clip-select:after {
	content: '\f107';
	font-family: FontAwesome;
	color: rgba(44,47,59,.7);
	right: 8px;
	top: 8px;
	padding: 0 0 2px;
	position: absolute
}
input[type=text].underline, input[type=password].underline, input[type=datetime].underline, input[type=week].underline, input[type=email].underline, input[type=url].underline, input[type=tel].underline, input[type=color].underline, input[type=date].underline, input[type=time].underline, input[type=datetime-local].underline, input[type=month].underline, input[type=number].underline, input[type=search].underline, select.underline, textarea.underline {
	background: 0 0!important;
	border: 1px solid #c8c7cc;
	border-top: none!important;
	border-left: none!important;
	border-right: none!important;
	border-radius: 0!important;
	color: #5b5b60!important;
	font-family: inherit!important;
	transition-duration: .1s!important;
	box-shadow: none!important;
	-moz-transition: border .3s ease-out;
	-o-transition: border .3s ease-out;
	-webkit-transition: border .3s ease-out;
	transition: border .3s ease-out
}
input[type=text].underline:hover, input[type=password].underline:hover, input[type=datetime].underline:hover, input[type=week].underline:hover, input[type=email].underline:hover, input[type=url].underline:hover, input[type=tel].underline:hover, input[type=color].underline:hover, input[type=date].underline:hover, input[type=time].underline:hover, input[type=datetime-local].underline:hover, input[type=month].underline:hover, input[type=number].underline:hover, input[type=search].underline:hover, select.underline:hover, textarea.underline:hover {
	border-color: #aeacb4!important
}
input[type=text].underline:focus, input[type=password].underline:focus, input[type=datetime].underline:focus, input[type=week].underline:focus, input[type=email].underline:focus, input[type=url].underline:focus, input[type=tel].underline:focus, input[type=color].underline:focus, input[type=date].underline:focus, input[type=time].underline:focus, input[type=datetime-local].underline:focus, input[type=month].underline:focus, input[type=number].underline:focus, input[type=search].underline:focus, select.underline:focus, textarea.underline:focus {
	box-shadow: none!important;
	border-color: #58748B!important;
	background-color: none!important
}
/*
input[disabled], select[disabled], textarea[disabled] {
	background: #f7f7f8!important;
	border-color: #F8F8F8!important
}
*/
/*
input[disabled]:focus, input[disabled]:hover, select[disabled]:focus, select[disabled]:hover, textarea[disabled]:focus, textarea[disabled]:hover {
	background: #f7f7f8!important;
	border-color: #F8F8F8
}
*/
legend {
	color: inherit;
	font-size: 16px;
	font-weight: 300
}
.input-group-addon {
	background-color: #58748B;
	border: 1px solid #58748B;
	color: #fff
}
.has-error .form-control, .has-success .form-control, .has-warning .form-control {
	border-width: 1px!important;
	border-style: dotted
}
select[multiple=multiple]:focus option {
	background: #F8F8F8!important
}
.has-error .form-control:focus, .has-error .form-control:hover, .has-success .form-control:focus, .has-success .form-control:hover, .has-warning .form-control:focus, .has-warning .form-control:hover {
	box-shadow: none
}
.validation-invalid, .validation-valid {
	font-size: 12px;
	padding: 0 5px
}

.the-icons .fa-hover .fa, .the-icons .fa-hover [class*=ti-] {
	display: inline-block;
	font-size: 14px;
	margin-right: 10px;
	text-align: right;
	width: 32px;
	color: #58748B
}
.icon-thumbnail, .letter-icon-wrapper {
	color: #fff;
	display: inline-block;
	text-align: center
}
.big-icon {
	font-size: 100px
}
.icon-thumbnail {
	background: #21252d;
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	height: 30px;
	line-height: 30px;
	position: relative;
	width: 30px;
	border-radius: 5px
}
.icon-thumbnail>i {
	font-size: 14px
}
.active .icon-thumbnail {
	background: red
}
.letter-icon-wrapper {
	height: 40px;
	width: 40px;
	
	white-space: nowrap;
	margin: 0;
	font-size: 21px;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-webkit-transition: all .5s;
	transition: all .5s
}
.letter-icon-wrapper>i, .letter-icon-wrapper>span {
	line-height: 40px
}
.letter-icon-wrapper>i {
	font-size: 19px
}
.letter-icon-wrapper.size-lg {
	height: 50px;
	width: 50px;
	font-size: 27px
}
.letter-icon-wrapper.size-lg>i, .letter-icon-wrapper.size-lg>span {
	line-height: 50px
}
.letter-icon-wrapper.size-lg>i {
	font-size: 25px
}
.letter-icon-wrapper.size-sm {
	height: 30px;
	width: 30px;
	font-size: 12px;
	display: block;
	margin:0 auto;
}
.letter-icon-wrapper.size-sm>i, .letter-icon-wrapper.size-sm>span {
	line-height: 30px
}
.letter-icon-wrapper.size-sm>i {
	font-size: 12px
}
.letter-icon-wrapper.box-circle {
	border-radius: 50%
}
.letter-icon-wrapper.box-round {
	border-radius: 10%
}
.letter-icon-wrapper.border {
	border: 5px solid #fff;
	line-height: 30px
}
.letter-icon-wrapper.border.size-lg {
	line-height: 40px
}
.letter-icon-wrapper.border.size-sm {
	line-height: 20px
}
.letter-icon-wrapper .letter-icon, .letter-icon-wrapper i {
	display: inline-block;
	vertical-align: middle
}

.btn-default, .btn-default:hover {
	background-color: #fff;
	color: #8e8e93
}

div.timeline {
	margin: 0;
	overflow: hidden;
	position: relative
}
div.timeline .columns {
	margin: 0;
	padding: 0;
	list-style: none
}
div.timeline .columns>li:nth-child(2n+1) {
	float: left;
	width: 50%;
	clear: left
}
div.timeline .columns>li:nth-child(2n+1) .timeline_element {
	float: right;
	margin-right: 30px;
	left: 0;
	opacity: 1
}
div.timeline .columns>li:nth-child(2n+1) .timeline_element:before {
	right: -27px;
	top: 15px
}
div.timeline .columns>li:nth-child(2n+1) .timeline_element:after {
	right: -35px;
	top: 10px
}
div.timeline .columns>li:nth-child(2n+2) {
	float: right;
	margin-top: 20px;
	width: 50%;
	clear: right
}
div.timeline .columns>li:nth-child(2n+2) .timeline_element {
	float: left;
	margin-left: 30px;
	opacity: 1;
	right: 0
}
div.timeline .columns>li:nth-child(2n+2) .timeline_element:before {
	left: -27px;
	top: 15px
}
div.timeline .columns>li:nth-child(2n+2) .timeline_element:after {
	left: -35px;
	top: 10px
}
div.timeline .date_separator {
	clear: both;
	height: 60px;
	position: relative;
	text-align: center
}
div.timeline .date_separator span {
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	margin-top: -16px;
	position: absolute;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	background-color: #58748B;
	color: #fff
}
div.timeline .spine {
	border-radius: 2px;
	position: absolute;
	top: 0;
	width: 4px;
	left: 50%;
	margin-left: -2px;
	bottom: 0;
	background-color: rgba(0,0,0,.1)
}
div.timeline .column_center .timeline_element {
	margin: 20px auto;
	opacity: 1
}
div.timeline .column_center .timeline_element:after, div.timeline .column_center .timeline_element:before {
	display: none
}
.timeline_element {
	border-radius: 5px;
	clear: both;
	margin: 30px 0;
	padding: 20px;
	opacity: 0;
	position: relative;
	transition: all .2s linear 0s;
	min-width: 66.6667%;
	text-shadow: none;
	box-shadow: 0 0 6px rgba(0,0,0,.1)
}
.timeline_element:after, .timeline_element:before {
	content: "";
	position: absolute;
	display: block
}
.timeline_element.partition-white {
	border: 1px solid rgba(0,0,0,.07)
}
.timeline_element.partition-white:hover {
	border: 1px solid rgba(0,0,0,.04)
}
.timeline_element.partition-white:after {
	background-color: #fff
}
.timeline_element.partition-white:hover:after {
	background-color: #c3c2c7;
	border: 1px solid #fff
}
.timeline_element.partition-green {
	border: none;
	color: #fff
}
.timeline_element.partition-green:hover {
	border: none
}
.timeline_element.partition-green:after {
	background-color: #5A8770
}
.timeline_element.partition-green:hover:after {
	background-color: #fff;
	border: 1px solid #5A8770
}
.timeline_element.partition-orange {
	border: none;
	color: #fff
}
.timeline_element.partition-orange:hover {
	border: none
}
.timeline_element.partition-orange:after {
	background-color: #F18636
}
.timeline_element.partition-orange:hover:after {
	background-color: #fff;
	border: 1px solid #F18636
}
.timeline_element.partition-blue {
	border: none;
	color: #fff
}
.timeline_element.partition-blue:hover {
	border: none
}
.timeline_element.partition-blue:after {
	background-color: #407887
}
.timeline_element.partition-blue:hover:after {
	background-color: #fff;
	border: 1px solid #407887
}
.timeline_element.partition-red {
	border: none;
	color: #fff
}
.timeline_element.partition-red:hover {
	border: none
}
.timeline_element.partition-red:after {
	background-color: #C82E29
}
.timeline_element.partition-red:hover:after {
	background-color: #fff;
	border: 1px solid #C82E29
}
.timeline_element.partition-azure {
	border: none;
	color: #fff
}
.timeline_element.partition-azure:hover {
	border: none
}
.timeline_element.partition-azure:after {
	background-color: #5B9BD1
}
.timeline_element.partition-azure:hover:after {
	background-color: #fff;
	border: 1px solid #5B9BD1
}
.timeline_element.partition-purple {
	border: none;
	color: #fff
}
.timeline_element.partition-purple:hover {
	border: none
}
.timeline_element.partition-purple:after {
	background-color: #9A89B5
}
.timeline_element.partition-purple:hover:after {
	background-color: #fff;
	border: 1px solid #9A89B5
}
.timeline_element:hover {
	box-shadow: 0 0 6px rgba(0,0,0,.2)
}
.timeline_element:before {
	height: 0;
	width: 26px;
	border-top: 1px dashed #CCC
}
.timeline_element:after {
	border-radius: 100%;
	height: 10px;
	width: 10px;
	background-color: #BBB;
	border: 1px solid #FFF;
	box-shadow: 0 0 2px rgba(0,0,0,.2)
}
.timeline_element:hover:after {
	background-color: #FFF;
	border: 1px solid #CCC;
	z-index: 100
}
.timeline_element .timeline_title {
	overflow: hidden;
	position: relative;
	text-transform: uppercase;
	padding-top: 10px;
	white-space: nowrap
}
.timeline_element .timeline_title h4 {
	line-height: 30px
}
.timeline_element .timeline_date {
	display: block
}
.timeline_element .timeline_date .day {
	font-size: 52px;
	letter-spacing: -2px
}
.timeline_element .timeline_content {
	padding-top: 10px;
	padding-bottom: 10px
}
.timeline_element .readmore {
	padding: 10px 0;
	text-align: right
}
.timeline-scrubber {
	padding: 8px 0 8px 1px;
	top: 60px;
	right: 0;
	width: 100px;
	z-index: 1;
	list-style: none;
	position: absolute
}
.timeline-scrubber li {
	margin-bottom: 1px
}
.timeline-scrubber li:last-child a, .timeline-scrubber li:nth-last-child(2) a {
	border-color: #fff;
	color: #fff
}
.timeline-scrubber a {
	border-left: 5px solid #f7f7f8;
	color: #f7f7f8;
	display: block;
	font-weight: 400;
	outline: 0;
	padding: 4px 0 4px 6px
}
.timeline-scrubber a:hover {
	border-color: #c3c2c7!important;
	color: #c3c2c7!important
}
.timeline-scrubber .selected>a {
	border-left-color: #aeacb4!important;
	color: #aeacb4!important;
	font-weight: 700!important
}
.ie8 div.timeline_element:after, .ie8 div.timeline_element:before {
	display: none
}
.timeline-xs {
	margin: 0;
	padding: 0;
	list-style: none
}
.timeline-xs .timeline-item {
	position: relative;
	border-left: 1px solid #c8c7cc
}
.timeline-xs .timeline-item:after {
	background-color: #fff;
	border-color: #58748B;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	height: 9px;
	left: 0;
	margin-left: -5px;
	position: absolute;
	width: 9px;
	clear: both;
	bottom: auto;
	top: 4px
}
.timeline-xs .timeline-item p {
	margin: 0;
	
}
.timeline-xs .timeline-item.negligible {
	border-left-color:  rgba(139,202,57,1);
}
.timeline-xs .timeline-item.negligible:after {
	border-color:  rgba(139,202,57,1);
}
.timeline-xs .timeline-item.critical {
	border-left-color: #ff4d4b
}
.timeline-xs .timeline-item.critical:after {
	border-color: #ff4d4b
}

.timeline-xs .timeline-item.medium {
	border-left-color: rgba(239,189,0,1)
}
.timeline-xs .timeline-item.medium:after {
	border-color: rgba(239,189,0,1)
}
.timeline-xs .timeline-item.low {
	border-left-color: #40c1f3
}
.timeline-xs .timeline-item.low:after {
	border-color: #40c1f3
}
.timeline-xs .timeline-item.high {
	border-left-color: #ff9725
}
.timeline-xs .timeline-item.high:after {
	border-color: #ff9725
}
.timeline-xs .timeline-item:after, .timeline-xs .timeline-item:before {
	content: " ";
	display: table
}

@media (max-width:991px) {
	div.timeline {
		margin: 0
	}
	div.timeline .columns li {
		float: none!important;
		width: 100%!important
	}
	.timeline_element {
		margin: 20px auto!important
	}
	.timeline-scrubber, .timeline_element:after, .timeline_element:before {
		display: none
	}
}
.table-bordered.table>thead>tr>th {
	border-bottom: 1px solid #ddd
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-bottom: 1px solid #e2e2e4;
	color: #5b5b60!important;
	border-top: none
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th {
	background-color: #e7e7e9!important;
	color: #5b5b60!important
}
.table>tbody>tr.active:hover>td, .table>tbody>tr.active:hover>th {
	background-color: #dddcdf!important;
	color: #5b5b60!important
}
td.center, th.center {
	text-align: center
}
td.center .dropdown-menu {
	text-align: left
}
td.small-width {
	width: 15%
}
.table thead tr {
	color: #707070;
	font-weight: 400
}
.table.table-bordered {
	/*border-right: none;
	border-bottom: none*/
	border: 1px solid #ccc;
}
.table.table-bordered>tbody>tr>td{
	text-align: left ;
}
.table.table-bordered>tbody>tr>td, .table.table-bordered>tbody>tr>th, .table.table-bordered>tfoot>tr>td, .table.table-bordered>tfoot>tr>th, .table.table-bordered>thead>tr>td, .table.table-bordered>thead>tr>th {
	border-top: none;
	border-left: none;
	
}

.editable-element {
	border-bottom: 1px dashed #08C;
	text-decoration: none;
	opacity: .5;
	display: inline
}

.odd {
	background: #EFEFF0
}
.even {
	background: #fff
}

@media (max-width:767px) {

}
.table-stylish {
	border-spacing: 0 5px;
	position: relative;
	margin-top: -5px
}
.table-stylish td {
	background: #f3f0f1;
	background: -moz-linear-gradient(top, #f3f0f1 0, #eee 100%);
	background: -webkit-linear-gradient(top, #f3f0f1 0, #eee 100%);
	background: linear-gradient(to bottom, #f3f0f1 0, #eee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f0f1', endColorstr='#eeeeee', GradientType=0 );
	padding-top: 15px!important;
	padding-bottom: 15px!important;
	position: relative
}
.table-stylish td:before {
	content: '';
	width: 1px;
	background: #e2e2e4;
	right: 0;
	top: 5px;
	bottom: 5px;
	position: absolute
}
.table-stylish td:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-left: 1px solid #e2e2e4
}
.table-stylish td:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}
.table-stylish td:last-child:before {
	background: 0 0!important
}
.img-media{
	width: auto;
	height: auto;
	max-height: 90px;
	max-width: none
}
.border-left{
	border-left: 1px solid #e2e2e4;
}
.icon-asset-color{
	color: #5b5b60;
}

.no-border{
	border: none !important;
}
.highcharts-button{
	display: none !important;
}
.highcharts-range-selector-buttons .highcharts-button{
	display: block !important;
}
.imput-icon-1{
	display: block !important;
	position: relative;
}
.circle-apple-init{
	padding: 8px 0px;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	font-size: 11px;
	font-weight: 300;
	width: 31px;
	height: 31px;
	text-align: center;
}
.circle-apple-init-small{
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	width: 31px;
	height: 31px;
}
.circle-apple-init-small a i, .circle-apple-init-small i{
	padding: 10px 12px;
}
.pad-app{
	padding: 0 0;
}
.highcharts-legend{
	/*display: none !important;*/
}
.highcharts-background{
	background-color: #fff !important;
}
.panel-collapse .table-striped {

	margin-top: 15px;
}
.table-vertical tbody tr th{
	width: 20%;
	
}
.asset-wise-icon-number{
	margin: 5px auto;
	text-align: center;
	display: block;
}
.asset-wise-icon-name{
	font-size: 12px;
	font-weight: 200;
	font-family: 'Montserrat';
	text-align: left;
	padding-left: 10px;
}
.inline-block{
	display: inline-block !important;
}
.user-ul{
	padding: 0;
	margin: 0;
}
.user-ul li{
	list-style-type: none;
	margin: 5px 0;
	padding: 3px;
}
.tasklabel{
	font-size: 11px !important;
	font-weight: 500;
	font-family: 'Lato';
}
.no-curve{
	border-radius: 0px !important;
}

.margin-zero{
	margin: 0 !important;
}
li.list-group-item.no-radius.no-margin.f9-bg {
	font-weight: 500;
}

input[type="radio"]{
	width: 100%;
	margin-top: 5px;
	z-index: 10;
}
textarea{
	padding: 10px;
}
.add-user-form-ul li textarea{
	border-color: #ccc;
	height: 150px;
	color: #aaa !important;
	font-size: 12px;
	font-weight: 400 !important;
	font-family: 'Lato';
}
.list-group-item select{
	width: 100%;
	padding: 8px 40px 8px 8px;
}
.list-group-item select{
	font-size: 12px !important	
}
.list-group-item input[type='text']
{
	width: 100%;
	padding: 8px;
	font-size: 12px !important;
	font-weight: 400 !important;
	font-family: 'Lato';
}
.action-icon{
	padding:6px 20px;
}
.nav-tabs{
	border-bottom: none;
}
.nav-tabs > li{
	margin-bottom: 0;
}
.nav-tabs > li > a{
	color: #4d4d4d;
	margin-right: 0;
}
.nav-tabs > li > a:hover{
	border: 1px solid transparent;
	/*background-color: rgba(28, 45, 96,0.4);*/
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border: 1px solid transparent;
	/*border-top:1px solid #ddd;*/
}
.menu-toggle-icon span.hamburg{
	width: 58%;
	display: block;
	height: 2px;
	background-color: #4d4d4d;
	margin: 4.1px auto;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	transform:rotate(0deg);
}



/* Dropdown Button */
.dropbtn-filter {
	color: white;
	padding: 6px 20px;
	font-size: 12px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-filter {
	position: absolute;
	top: 10px;
	right: 30px;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-filter {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10002;
	-webkit-transition:all ease-in 0.3s;
	transition:all ease-in 0.3s;
}
.dropdown-content-filter.location, .dropdown-content-filter.matver{
	border: 1px solid #ccc;
}
/* Links inside the dropdown */
.dropdown-content-filter a, .dropdown-content-filter.matver a {
	color: #4d4d4d;
	padding: 8px 10px;
	text-decoration: none;
	display: block;
	border-radius: 0;
}
.dropdown-content-filter.location a:nth-child(even), .dropdown-content-filter.matver a:nth-child(even){
	background-color: #ccc;
}
.dropdown-content-filter.location a:nth-child(even), .dropdown-content-filter.matver a:nth-child(even){
	background-color: #ececec;
}

/* Change color of dropdown links on hover */
.dropdown-content-filter a:hover {background-color: transparent}
.dropdown-content-filter.location a:hover, .dropdown-content-filter.matver a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown-filter:hover .dropdown-content-filter {
	display: block;
}
.margin-left-15{
	margin-left: 15px;
}
.sub-menu-outer{
	position: fixed;
	left: 250px;
	top: 300px;
	height: 200px;
	border: 1px solid #ccc;
	z-index: 999999;
	width: 200px
}
.tooltip{
	border-radius: 0px !important
}
.align-center{
	text-align: center !important;
}
.label-xs-text{
	font-size: 65% !important;
}
