@import url("lato.css");
@import url("montserrat.css");
@import url("icomoon.css");

html{
	height: 100%;
}
body{
	height: 100%;
	font-family: 'Lato';
	font-weight: 300;
}
.body-bg{
	background: url(../img/login-bg.png) no-repeat center center fixed;
	background-size: cover;
}
body > .container-fluid{
	min-height: 100%;
	display: flex;
	align-items: center;
}
.main-content input , .main-content .btn{
	border-radius: 0px; 
}
.center{
	margin: 0 auto;
	float: none;
}
.full-width{
	width: 100%;
}
.show{
	display: block;
}
.hide{
	display: none;
	transition:all ease 0.5s;
}
.logo{
	filter: brightness(0%);
	width: 100px;
	margin-left: 15px;
	/*margin-top: 10px;*/
	transition: all ease-in 1s;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 3px;
}
.logo-in{
	opacity: 1;
	visibility: visible;
}
.back-icon{
	cursor: pointer;
	display: inline-block !important;
	margin-right: 10px;
	position: relative;
	top: 5px;
}
.page-header{
	border-bottom: 0px;
	margin-bottom: 0px;
}
.logo-container{
	visibility:hidden;
}
.signin-container{
	height: 450px;
	width: 400px;
	background-color: #fff !important;
	/*padding: 0px;*/
	box-shadow: 0px 0px 2px 1px #ccc;
	/*width: 30%;*/
	/*margin-top:60px;*/
	overflow: hidden;
	position: relative;
	padding: 25px;
	box-shadow: 0px 7px 35px 1px #aaa;
}

.btn-wide{
	padding: 5px 30px; 
}
.sign-in-text{
	font-family: 'Lato';
	font-weight: 300;
	padding-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.form-container input{
	margin: 10px 0px;
}
.form-container input:first-of-type{
	margin: 15px 0px 30px 0px;
}
.logo-container{
	padding: 0px 20px 10px 25px;
	position: relative;
}
.logo-container span{
	width: 30px;
	height: 30px;
	display: inline-block;
	border-radius: 50%;
}
.logo-container i.fa{
	/*margin-top: 9px;*/
	margin-left: 9px;
	color: white;
	font-size: 25px;
}
.cont2{
	/*margin-top: 30px;*/
}
.icons{
	opacity: 1;
	/*padding-left: 35px;*/
	/*height: 40px;*/
	transition: all ease-in 0.5s;
}
.icons-out{
	opacity: 0;
}
.icons-slide{
	height: 0px;
}
#extraContent{
	width: 30%;
	min-height: 100px;
	background-color: #ccc;
}
#inputEmail,#inputPwd{
	height: 40px;
	transition: all ease-in 0.3s;
	font-size: 16px;
	font-weight: 400
}
#inputPwd{
	margin-top: 10px;
	/*padding-left: 0px;*/
}
#forgotPwd{
	font-size: 12px;
}
.slideIn{
	left: 0px !important;
	transition: all ease-in 0.1s;
}
.slideOut{
	left: 100% !important;
	transition: all ease-in 0.1s;	
}
.container1{
	position: absolute;
	left: 0px;
	width: 100%;
	background-color: #fff;
	
}
.container2{
	position: absolute;
	left: 100%;
	width: 100%;
	background-color: #fff;
	padding: 25px;
}
.in{
	position: relative;
	top: 20px;
	left: 0px;
	z-index: 9999;
}
.captcha-container{
	margin-top: 10px;
}
.captchaImg{
	padding-left: 0px;
}
.captchaImg > img{
	height: 35px;
	width: 170px;
}
.captchaField{
	padding-right: 0px;
}
.err-container{
	width: 400px;
	max-width: 400px;
	padding: 0px;
	background-color: rgba(255, 8, 8, 0.7);
	color: #fff;
	font-weight: 600;
	box-shadow: 0px 0px 0px 1px rgba(255, 8, 8, 0.7);
	padding-top: 5px;
	margin-top: 2px;
	overflow: hidden;
	position: relative;
	top: -110px;
	transition: all ease-in 0.8s;
	z-index: -1;
	display: table;
}
.errSlideIn{
	top: 0px;
	/*z-index: 1;*/
}
.err-container i.fa{
	color: #fff;
	margin-left: 5px;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}
.err-text-box{
	padding-top: 10px;
}
.welcome-text{
	margin-top: 0px;
}
.err-email{
	color: red;
    display: none;
    font-size: 13px;
    padding-left: 25px;
    position: relative;
    top: -3px;
}
#uId{
	margin-left: 5px;
}

/*Loader css*/
.load-bar {
	position: absolute;
	width: 100%;
	height: 4px;
	background-color: #fdba2c;
	display: none;
	left: 0;
	top: 0;
}
.bar {
	content: "";
	display: inline;
	position: absolute;
	width: 0;
	height: 100%;
	left: 50%;
	text-align: center;
}
.bar:nth-child(1) {
	background-color: #da4733;
	animation: loading 2s linear infinite;
}
.bar:nth-child(2) {
	background-color: #3b78e7;
	animation: loading 2s linear 0.5s infinite;
}
.bar:nth-child(3) {
	background-color: #fdba2c;
	animation: loading 2s linear 1s infinite;
}
.email-container .form-control ,.pwd-container .form-control {
	border:none !important;
	box-shadow: none;
	border-bottom:1px solid #ccc !important;
}
.email-container, .pwd-container{
	position: relative;
	margin: 0 25px;
}
.pwd-container{
	position: relative;
}
.email-border,.pwd-border{
	width: 0%;
	height: 2px;
	background-color: royalblue;
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition:all ease-in 0.2s;
	-moz-transition:all ease-in 0.2s;
	transition:all ease-in 0.2s;
}
.email-container .form-control.validation-border{
	border-bottom: 2px solid #f00 !important;
}

/*Css for forgot password page*/
#forgotPwdImg{
	height: 25px;
	width: 25px;
	margin-top: 23px;
	margin-right: 10px;
}

@keyframes addAnim {
	from {width: 0%;}
	to {width: 100%;}
}

/* The element to apply the animation to */
.addAnim {
	width: 100%;
	animation-name: addAnim;
	animation-duration: 0.5s;
}

@keyframes loading {
	from {left: 50%; width: 0;z-index:100;}
	33.3333% {left: 0; width: 100%;z-index: 10;}
	to {left: 0; width: 100%;}
}

/*Override animate css*/
@-webkit-keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
}

@keyframes shake {
	from, to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translate3d(-5px, 0, 0);
		transform: translate3d(-5px, 0, 0);
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translate3d(5px, 0, 0);
		transform: translate3d(5px, 0, 0);
	}
}
