   @import url("../../assets/css/lato.css");
   @import url("../../assets/css/montserrat.css");

   thead tr th{
    color: #fff;
    font-weight: 200;
  }
  .thead-filter{
    display: none;
  }
  .profile-tab-header {
    background-color: transparent;
  }
  .profile-tab-header .nav-tabs > li > a {
    border: 1px solid #f1f1f1;
    border-bottom: none;
    cursor: pointer;
    border-left: none;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd;
  }
  .nav-tabs > li > a {
    margin-right: 0 !important;
    background-color: #f9f9f9;
  }
  .profile-tab-container{
    border: 1px solid #eee;
    border-top: none;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #f1f1f1;
    border-bottom: none;
    border-left: none;
  }
  .fc-event{
    background-color: transparent !important;
    border-right: 0px !important;
  }
  .fc-event:hover{
    opacity: 1 !important;
  }
  .fc-grid{
    overflow: visible !important;
  }
  table.fc-border-separate{
    border: 1px solid #ccc;
  }
  #calendar *,#calendar :before{
    box-sizing: content-box !important; 
  }
  .bg-1{
    background-color: #ff4d4b; 
  }
  .bg-2{
    background-color: #ff9725; 
  }
  .bg-3{
    background-color: rgba(239,189,0,1); 
  }
  .bg-4{
    background-color: rgba(139,202,57,1); 
  }
  .bg-5{
    background-color: #537FE3; 
  }
  .bg-6{
    background-color: #40c1f3; 
  }
  .bg-10{
    background-color: orangered;
  }
  .title1:before{
    background-color: #ff4d4b !important; 
  }
  .title2:before{
    background-color: #ff9725 !important; 
  }
  .title3:before{
    background-color: rgba(239,189,0,1) !important; 
  }
  .title4:before{
    background-color: rgba(139,202,57,1) !important; 
  }
  .title5:before{
    background-color: #537FE3 !important; 
  }
  .title6:before{
    background-color: #40c1f3 !important; 
  }
  .title7:before{
    background-color: #bd1f1d !important; 
  }
  .pr1{
    background-color: #ff4d4b !important; 
  }
  .pr2{
    background-color: #ff9725 !important; 
  }
  .pr3{
    background-color: rgba(239,189,0,1) !important; 
  }
  .pr4{
    background-color: rgba(139,202,57,1) !important; 
  }
  .pr5{
    background-color: #537FE3 !important; 
  }
  .pr6{
    background-color: #40c1f3 !important; 
  }
  .pr7{
    background-color: #bd1f1d !important; 
  }
  .margin-custom{
    margin: 2px 0px;
  }
  .margin-none{
    margin: 0px;
  }
  .fc-event-time{
    display: none;
  }
  .task-title{
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
  }
  .fc-event-title{
    display: block;
  }
  .fc-event-inner{
    padding:0 10px;
  }
  .fc-event-inner p{
    margin: 3px 0px;
    max-width: 110px;
  }
  .task-span,.fc-event-title{
    color: grey;
  }
  .task-title:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    left: -13px;
    top: -2px;
    border: 4px solid #fff;
    box-shadow: 0px 0px 5px #ccc;
  }
  .status-common{
    display: inline-block;
    color: white;
    padding: .3em .6em;
    margin-right: 10px !important;
    font-size: 10px;
  }
  .task-responsible{
    color: grey;
  }
  .task-completion{
    margin: 0px;
    font-size: 10px;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 2px 4px;
    color: grey;
    display: block;
    width: 100%;
  }

  * {margin: 0; padding: 0;}
  body {
    background: #fff;
    font-family: 'Lato';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    padding: 10px;
    font-weight: 400;
  }
  .f9-bg{
    background-color: #f9f9f9;
  }
  .dash-navigation-outer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2px 10px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 10001;
  }
  .navigate-ul {
    padding: 0;
    margin: 0;
  }
  .navigate-ul > li {
    margin: 5px 0;
    padding: 2px 6px;
    position: relative;
    display: inline-block;
  }
  .navigate-ul > li:last-child a {
    color: #aaa;
  }
  .navigate-ul > li > a {
    font-size: 12px;
    color: #4d4d4d;
    font-weight: 400;
  }
  .navigate-ul > li:last-child:before, .navigate-ul > li:last-child:after {
    border: none;
  }
  .navigate-ul > li:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #ccc;
    border-width: 5px;
    margin-top: -4px;
  }
  .navigate-ul > li:after {
    left: 100%;
    top: 50%;
    border: solid #ccc;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .dashboard-wrapper {
    padding: 40px 0px;
  }
  .box-shadow {
    box-shadow: 1px 1px 5px #ccc !important;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 0;
    color: #5b5b60;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-weight: 300;
  }
  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    font-family: 'Lato' !important;
    font-weight: 400 !important;
  }
  .btn, .clip-datepicker table {
    outline: 0!important;
  }
  .btn {
    transition: all .3s ease 0s!important;
    background-image: none!important;
    box-shadow: none!important;
    position: relative;
    -webkit-transform: translateZ(0);
  }
  .btn-primary {
    background-color: #58748B;
    border-color: #58748B;
    color: #fff;
  }
  .filter-min-height {
    min-height: 500px !important;
  }
  .panel-body {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
  }
  .profile-tab-body {
    padding: 10px;
  }
  .pad-tb-sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
    border: none;
  }
  .table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom: 1px solid #e2e2e4;
    color: #5b5b60!important;
    border-top: none;
    font-weight: 300;
  }
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  thead tr {
    border-bottom: 1px solid #ccc;
  }
  .table-bordered>thead>tr>th {
    font-weight: 500;
    color: #5b5b60;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .fa-check-circle-o {
    display: none;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    color: grey;
  }
  .mainMenuChecked{
    background-color: #eee;
  }
  /*.mainMenuChecked a:after {
    content: "\f05d";
    font-family: FontAwesome;
    float: right;
    margin-top: 1px;
    font-size: 13px;
    }*/
    .dropdown-toggle .fa-times-circle-o {
      display: none;
      float: right;
      margin-top: 1px;
      font-size: 16px;
    }
    .fa-times-circle-o:hover{
      color: red;
    }
    .fc-day-header,.fc-first th {
      color: grey;
    }
    .crit-span{
      padding: 3px 8px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
    }
    #eventDesc{
      font-size: 18px;
      margin-bottom: 40px;
      font-weight: 300;
      color: #333;
    }
    .modal-body span{
      font-size: 12px;
    }
    .modal-footer .btn{
      border: 1px solid #ccc;
    }
    ul.dropdown-menu.sub-menu > li >label {
      color: #333;
      font-weight: 400;
      min-width: 140px;
    }

    #overlay
    {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: rgb(249,249,249);

    }

    #overlay .loading {
      background-color: lightgrey;
      height: 2px;
      margin: 1em;
      overflow: hidden;
      position: relative;
      width: 12em;
    }

    #overlay .loading-bar {
      animation: side2side 2s ease-in-out infinite;
      background-color: black;
      height: 100%;
      position: absolute;
      width: 50%;
    }

    @keyframes side2side {
      0%, 100% { transform: translateX(-50%); }
      50%      { transform: translateX(150%); }
    }

    #overlay .center {
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    #overlay .overlayText{
      position: absolute;
      display: inline-block;
      top: 40px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100px;
      height: 40px;
      margin: auto;
      text-align: center;
      padding: 10px 0;
    }
    #overlay .loaderLogo{
      position: absolute;
      display: inline-block;
      top: -90px;
      bottom: 0;
      right: 0;
      left: 0;
      width: 70px;
      height: 70px;
      margin: auto;
      text-align: center;
      padding: 0px 0;
    }
    .ajx
    {
      color: white;
      z-index: 99999;
      position: fixed;
      right: 0;
      top: 39px;
      box-shadow: 0px 5px 12px #aaa;
      /*display: none;*/
      background-color:rgba(139,202,57,1);
      padding: 3px 8px;
    }
    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting_asc_disabled,
    table.dataTable thead .sorting_desc_disabled {
      background: 0 0;
    }

    table.dataTable thead .sorting_asc:after {
      content: "\f0de";
      float: right;
      font-family: fontawesome;
    }
    table.dataTable thead .sorting_desc:after {
      content: "\f0dd";
      float: right;
      font-family: fontawesome;
    }
    table.dataTable thead .sorting:after {
      content: "\f0dc";
      float: right;
      font-family: fontawesome;
      color: rgba(50,50,50,.5);
    }
    table.dataTable.no-footer{
     border-bottom: 0px;
   }
   select{
     background-image: none !important;
     -webkit-appearance: menulist;
   }
   label{
     color: #5b5b60;
   }
   input[type="search"]{
    height: 25px;
  }
  .dataTables_length{
    margin-right: 15px;
    position: relative;
    top: 5px;
  }
  button.dt-button, div.dt-button, a.dt-button{

    width: 111px;
    text-align: center;
    border-radius: 0;
  }
  button.dt-button:hover, div.dt-button:hover, a.dt-button:hover{

    background: #fff !important;

  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
    background: #EAEAE7;
    color: #000 !important;
    border-radius: 0%;
    border: 1px solid #EAEAE7;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
   background: #CCCCCC;
   color: #000 !important;
   border-radius: 0%;
   border: 1px solid #CCCCCC;
 }
 .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: #fff;
  border: 1px solid #CCCCCC;
  color: #000 !important;
}
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background-color: #537FE3;
  top: 18px;
  right: 0px; 
}
input[type="search"]{
  height: 25px;
}

select.input-sm {
  height: 19px;
  padding: 0;
}

.cust-icon-cont{
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #777777;
  margin-left: 5px;
  box-shadow: 0px 0px 3px #ccc;
}
.dt-buttons.btn-group
{
  width: 100% !important;
  display: inline-grid !important;
}
.dataTables_wrapper .dataTables_processing{
  display: none !important;
}
.white-text{
  color: #fff !important;
}
div.table-responsive{
  position: relative;
}