 body{
     margin-right: 15px;
   }
   #simulateFeature1, #simulateFeature2{
    display: none;
  }
  .text-center{
    text-align: center !important;
  }
  .table.table-bordered>tbody>tr>td{
    border:1px solid #ccc;
  }
  .rs-control .rs-range-color {
    background-color: #54BBE0;
  }
  .rs-control .rs-path-color {
    background-color: #ffffff;
  }
  .rs-control .rs-handle {
    background-color: #fff;
  }
  .rs-control .rs-handle:after{
   background-color: none;
   border:none;
 }
 .rs-control .rs-bg-color {
  background-color: white;
}
#predict .rs-border.rs-outer  {
  border: 1px solid #aaa;
}
.rs-seperator {
  border: none;
}
#predict .rs-handle  {
  width: 18px !important;
  height: 18px !important;
  border: 1px solid #ccc;
  margin: -5px 0 0 -3px !important;
}

#predict{
 margin: 15px auto;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{
 border:1px solid #ccc !important;
}
.estMaturityTable{
 display: none;
}
.estMaturityTable2{
 display: none;
}
.profile-tab-header{
  background-color: transparent;
}
.profile-tab-header .nav-tabs > li > a{
  border: 1px solid #f1f1f1;
  border-bottom: none;
  cursor: pointer;
}
.nav-tabs > li > a{
  margin-right: 0 !important;
  background-color: #f9f9f9;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  border:1px solid #f1f1f1;
  border-bottom: none;
}
#msform{
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
#msform input.budget{
  height: 58px;
  padding: 10px 15px;
  padding-left: 94px;
  font-size: 22px !important;
}
#msform input.mandays{
  height: 58px;
  padding: 10px 15px;
  font-size: 22px !important;
}
.box-cont{
  width: 300px;
  height: 300px;
  background-color: #f9f9f9;
  padding: 10px 15px;
}
.ic-bg{
  background-color: #f9f9f9;
  border:1px solid #eee;
  padding:28px;
  height: 300px;
}
.irs-slider {
  top: 25px;
  width: 20px;
  height: 20px;
  border: 1px solid #AAA;
  background: #DDD;
  -moz-border-radius: 27px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
}
.irs-min, .irs-max {
  color: #333;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  top: 16px;
  padding: 1px 5px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.irs-with-grid {
  height: 65px;
}
.irs-from, .irs-to, .irs-single {
  top: 8px
}
.slider-title{
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: normal;
}
.irs-from, .irs-to, .irs-single {
  padding: 1px 5px;
}
.grid li{
  display: inline-block;
  width: 450px;
  margin: 0;
  padding: 10px;
  text-align: left;
  position: relative;
}
.grid{
  padding-bottom: 20px;
}
span.totalField, span.totalField2{
  float: right;
  padding: 3px 15px;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-top: 10px;
  color: #fff;
}
.totalField.red, .totalField2.red{
  background-color: #ff4d4b
}
.totalField.green, .totalField2.green{
  background-color: rgba(139,202,57,1);
}
#msform select{
  padding: 10px 15px;
}

#pptBar {
      height: 250px;
      float: left;
      width: 100%;
    }
    input[type="text"].form-control{
      background-color: transparent !important;
      border:2px solid #ccc;
      height: 40px;
      font-weight: 400;
      font-family: 'Lato';
      font-size: 16px !important;
      color: #aaa !important;
    } 