@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/preTechIcon/icomoon.eot?nigvpc');
  src:  url('../../assets/preTechIcon/icomoon.eot?nigvpc#iefix') format('embedded-opentype'),
    url('../../assets/preTechIcon/icomoon.ttf?nigvpc') format('truetype'),
    url('../../assets/preTechIcon/icomoon.woff?nigvpc') format('woff'),
    url('../../assets/preTechIcon/icomoon.svg?nigvpc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-week-password:before {
  content: "\e909";
}
.icon-social-media-scanning:before {
  content: "\e90a";
}
.icon-phishing:before {
  content: "\e90b";
}
.icon-call-forging:before {
  content: "\e90c";
}
.icon-financial-fraud:before {
  content: "\e90d";
}
.icon-dumpster:before {
  content: "\e90e";
}
.icon-Blackberry:before {
  content: "\e907";
}
.icon-windows-2003:before {
  content: "\e903";
}
.icon-windows-2008:before {
  content: "\e904";
}
.icon-windows-2012:before {
  content: "\e905";
}
.icon-fedora:before {
  content: "\e901";
}
.icon-Redhat:before {
  content: "\e902";
}
.icon-Ubuntu:before {
  content: "\e900";
}
.icon-comment-discussion:before {
  content: "\e90f";
}
.icon-pencil2:before {
  content: "\e908";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-laptop:before {
  content: "\e906";
}

