@media (max-width:768px){
    .menu-toggle-icon{
        display: none;
    }
/*
    .navbar-top-links li:nth-child(3){
        display: block;
        text-align: center;
    }
*/
    .navbar-top-links{
        text-align: right;
            margin-right: 55px;
    }
    .navbar-brand{
        padding: 0;
    }
    .page-header-container {
    background: white;
    box-shadow: 0px 0 8px #ccc;
    }
    div.orgChart div.node{
        height: 110px;
    }
    ul#side-menu{
        display: none;
    }
    .navbar-default.sidebar{
        display: none;
    }
    .dashboard-logo-out{
        top: 7px;
    }.
    .popUpContainer {
        height: 86% !important;
    }
    #assetMaturityamChart {
        min-height: 600px;
        height: 800px;
    }
    .text-center-small{
        text-align: center;
    }
    .margin-tb-sm{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .side-menu .navbar-header{
        width: auto !important;
        top: 0;
        right: 0%;
        z-index: 1000;
    }
    .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts{
        width: 250px;
    }
    .navbar-top-links .dropdown-alerts {
        margin-left: -205px;
    }
    div.absolute-wrapper{
        width: 0;
    }
    div.side-menu{
        display: none;
    }
    .mobile-only{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10000;
    }
    .navbar-toggle.mobile-only .icon-bar{
        background-color: #4d4d4d;
        width: 18px;
    }
    .mobile-menu-container{
        display: block;
        position: fixed;
        top: 50px;
        right: 0;
        width: 300px;
        height: auto;
        max-height: 100%;
        overflow: auto;
        padding: 0px;
        background-color: #f8f8f8;
        z-index: 10002;
        border: #ccc;
        box-shadow: -1px 0px 4px #ddd;
        display: none;
        padding-bottom: 20px;
    }
    .mobile-menu-container ul.mobile-menu-ul{
        padding: 0;
        margin: 0;
    }
    .mobile-menu-container ul.mobile-menu-ul li{
        display: block;
    }
    .mobile-menu-container ul.mobile-menu-ul li a{
        display: block;
        padding: 10px 25px;
        color: #4d4d4d;
        text-align: left;
        font-family: 'Lato';
        font-size: 15px;
        font-weight: 400;
    }
    .mobile-menu-container ul.mobile-menu-ul li a:hover{
        background-color: #f1f1f1;
    }
    .mobile-pull-right{
        float: right;
    }
    .mobile-pull-left{
        float: left;
    }
}
@media (min-width:769px){
    .mobile-only{
        display: none;
    }
    .mobile-menu-container{
        display: none !important;
    }
}
@media (max-width:900px){
    .popUpContainer{
        width: 75%;
    }
    #page-wrapper {
        padding: 0;
    }
    .dashboard-wrapper {
        padding: 40px 0px;
    }
    
}
@media (max-width:1200px){
    .popUpContainer{
            width: 75%;
    }
    .md-mar{
        margin: 20px 0;
    }
    
    
}